<script>
	loadCSS("https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css");
	loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");  

	var requireJS = [
			"/webjars/datatables/jquery.dataTables.min.js",
			"/webjars/chartjs/Chart.min.js",
			"/webjars/sockjs-client/sockjs.min.js",
			"/webjars/stomp-websocket/stomp.min.js",
			"/js/jquery.spring-friendly.min.js",
			"https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js",
			"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];

	loadJS(requireJS, "/js/views/main.js");
</script>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                	일자별 배송 차량
                </div>
                <div class="card-block">
                    <canvas id="vehicles"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                	일자별 배송 점포 개수
                </div>
                <div class="card-block">
                    <canvas id="stores"></canvas>
                </div>
            </div>
        </div>               
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                	일자별 정시 점포 도착 비율
                </div>
                <div class="card-block">
                    <canvas id="arrives"></canvas>
                </div>
            </div>
        </div>        
        <!--/.col-->
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                	배송 지연 사유 비율
                </div>
                <div class="card-block">
                    <canvas id="resons"></canvas>
                </div>
            </div>
        </div>
         <div class="col-sm-8 col-md-8">
            <div class="card">
                <div class="card-header">
                	차량 이벤트
                </div>
                <div class="card-block">
					<button id="connect" class="btn btn-default" type="submit">연결</button>
					<button id="disconnect" class="btn btn-default" type="submit"
						disabled="disabled">취소</button>
               		<table id="datatable" class="table" width="100%" cellspacing="0">		
				        <thead>
				            <tr>
				                <th>순번</th>
				                <th>종류</th>
				                <th>내용</th>
				                <th>일시</th>
				            </tr>
				        </thead>
		   		    </table>						
				</div>
            </div>
        </div>            
        <!--/.col-->
    </div>    
    <!--/.row-->
</div>

