<script>
	loadCSS("/webjars/openlayers/4.0.1/ol.css");
	loadCSS("https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css");
    loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");  

    var requireJS = [ "/webjars/datatables/jquery.dataTables.min.js",
    	"/webjars/openlayers/4.0.1/ol.js",
    	"/js/jquery.spring-friendly.min.js",
		"https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js",
		"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];
    
    loadJS(requireJS, "/js/views/routepin.js");
</script>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="card">
                <div class="card-header">
                	배송 지점
                </div>
                <div class="card-block">
                 		<table id="datatable" class="table" width="100%" cellspacing="0">		
					        <thead>
					            <tr>
					                <th>순번</th>
					                <th>루트명칭</th>
					                <th>배송차량</th>
					                <th>배송자</th>
					                <th>도착순번</th>					                
					                <th>점포명</th>
					                <th>배송주소</th>
					            </tr>
					        </thead>
				        </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="card">
                <div class="card-header">
                	배송 지점의 위치
                </div>
                <div class="card-block">
                    <div id="map" class="map" tabindex="0" style="height: 595px;"></div>
                </div>
            </div>
        </div>        
        <!--/.col-->
    </div>
    <!--/.row-->
</div>