<script>
	loadCSS("/webjars/openlayers/4.0.1/ol.css");
	loadCSS("https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css");
    loadCSS("https://cdn.datatables.net/select/1.2.1/css/select.bootstrap4.min.css");

    var requireJS = [ "/webjars/datatables/jquery.dataTables.min.js",
    	"/webjars/openlayers/4.0.1/ol.js",
    	"/js/jquery.spring-friendly.min.js",
		"https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap4.min.js",
		"https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js" ];
    
    loadJS(requireJS, "/js/views/vehicle.js");
</script>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                	배송 차량
                </div>
                <div class="card-block">
                 		<table id="datatable" class="table" width="100%" cellspacing="0">		
					        <thead>
					            <tr>
					                <th>순번</th>
					                <th>차량번호</th>
					                <th>성명</th>
					                <th>모바일</th>
					            </tr>
					        </thead>
				        </table>
                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                	배송 차량의 배송 루트
                </div>
                <div class="card-block">
                 		<table id="datatable2" class="table" width="100%" cellspacing="0">		
					        <thead>
					            <tr>
					                <th>순번</th>
					                <th>배송루트명</th>
					            </tr>
					        </thead>
				        </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                	배송 루트의 경로
                </div>
                <div class="card-block">
                    <div id="map" class="map" tabindex="0"></div>
                </div>
            </div>            
        </div>
        <!--/.col-->                
    </div>
    <!--/.row-->
</div>